@model string
<h1>Contraseña:</h1>
<br />
<h3>Sus identificadores son:</h3>
@Model
<center>
    <form method="post" action="@Url.Action("volver", "Aspirante")">
        <button type="submit" id="llamarMetodoBtn" name="llamarMetodoBtn" class="botonplano">Volver</button>
    </form>
</center>