﻿@{
    ViewBag.Title = "Error";
}
<h2>Error</h2>
<p>Dato no encontrado o árbol vacío, compruebe ambos casos e intente de nuevo</p>
<br />
<center>
    <form method="post" action="@Url.Action("SubirDatos", "Aspirante")">
        <button type="submit" id="llamarMetodoBtn" name="llamarMetodoBtn" class="botonplano">Volver</button>
    </form>
</center>