﻿@{
    ViewBag.Title = "Error";
}
<h2>Error</h2>
<p>Compruebe que los datos enviados estén correctamente y vuelva a intentarlo</p>
<br />
<center>
    <form method="post" action="@Url.Action("volver", "Aspirante")">
        <button type="submit" id="llamarMetodoBtn" name="llamarMetodoBtn" class="botonplano">Volver</button>
    </form>
</center>