﻿@{
    ViewBag.Title = "Error";
}
<h2>Error</h2>
<p>Datos ingresado Erróneos o no se encontro el objeto, vuelva a intentarlo</p>
<br />
<center>
    <form method="post" action="@Url.Action("SubirDatos3", "Aspirante")">
        <button type="submit" id="llamarMetodoBtn" name="llamarMetodoBtn" class="botonplano">Volver</button>
    </form>
</center>