<center><h1>TalentHub</h1></center>
<br />
<center><p>A continuación presentaremos nuestro proyecto de estructuras de Datos 2</p></center>
<center><p>En este programa presentaremos todos nuestros laboratorios, para comenzar pulse el botón de "Continuar"</p></center>
<br />
<center>
<form method="post" action="@Url.Action("SubirDatos4", "Aspirante")">
    <button type="submit" id="llamarMetodoBtn" name="llamarMetodoBtn" class="botonplano">Continuar</button>
    </form>
</center>